<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thumbs.android.thumbsAndroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
            android:name=".CoreApp"
            android:allowBackup="true"
            android:icon="@drawable/image_splash_thumbs"
            android:label="@string/APP_NAME"
            android:roundIcon="@drawable/image_splash_thumbs"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <service
                android:name=".services.ControllerService"
                android:enabled="true"
                android:exported="false"/>
        <activity
                android:name=".ui.splash.SplashActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.register.RegisterActivity">
        </activity>
        <activity android:name=".ui.status.StatusActivity">
        </activity>
        <activity android:name=".ui.setting.SettingActivity"
                  android:parentActivityName=".ui.status.StatusActivity">
        </activity>
    </application>

</manifest>